ul{list-style-type: none;}

html, body {
    height: 50%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1{
    text-align: center;
    font-size: 50px;
}

.calendar{
    display: grid;
    grid-template-columns: repeat(7, 190px);
    grid-template-rows: repeat(7, 217px);
}

.calendar div{
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 3px;
    font-size: 30px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: -10px;
    margin: 2px;
    
    /*grid-template-columns: 90px 90px;
    grid-template-rows: 90px 90px;*/
}

.calender div li{
    display: inline-block;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
}

img{
    border-radius:50%
}

.weekdays {
    margin: 0;
    padding: 10px;
    background-color: aqua;
    font-size: 50px;
}

.weekdays li{
    display: inline-block;
    width: 13.4%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
}

.month {
    margin: 0;
    padding: 50px 10px;
    background-color: rgb(104, 55, 160);
    font-size: 50px;
    text-align: center;
}

.month li{
    display: inline-block;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px;
}