ul{list-style-type: none;}

html, body {
    height: 50%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Tahoma, sans-serif;
    user-select: none;
    background-position: right 150% bottom 275%;
}

h1{
    text-align: center;
    font-size: 100px;
}

video{
    position: fixed;
    vertical-align: middle;
    max-width: 1400px;
    max-height: 1200px;
    margin-top: 100px;
    z-index: -2;
}

.calendar{
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 200px);
    grid-template-rows: repeat(6, 238px);
}

li > span{
    opacity:50% !important;
    background-color: rgb(255, 255, 255);
}

div > span{
    visibility: hidden;
    width:auto;
    background-color: rgba(184, 183, 183, 0.452);
    color: #030303;
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 4px 10px 4px 10px;
    margin: 0px;
    border:1px solid rgba(68, 68, 68, 0.452);
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 35px;
}

.calendar > div{
    position: relative;
    background-color: rgba(192,192,192,1);
    border: 3px solid black;
    padding: 3px;
    font-size: 30px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: fit-content;
    column-gap: 10px;
    margin: 0px;
    order: 1;

    /* 
    position: relative;
    z-index: 1;
    transition-property: 1;
    transition-delay: 0ms;
    /*grid-template-columns: 90px 90px;
    grid-template-rows: 90px 90px;*/
}

.special{
    order: 0;
}

.overlap1{
    position: relative;
}
.event{
    position: absolute;
    visibility: hidden;
    z-index: 10;
    font-size: 50px;
    background-color: #ed0000;
}

.event > div{
    display:grid;
    grid-template-rows: repeat(2 , 135px);
    grid-template-columns: repeat(9, 150px);
    width: 1400px;
    border: 1px;
}

.event > div img{
    width: 130px;
    height: 130px;
    position: relative;
}


.calendar div div:hover span{ 
    visibility: visible;
}

.calendar img{
    width: 85px;
    height: 85px;
    position: relative;
}

.mana{
    left: 30%;
    border-radius: 0%;
    width: 30px !important;
    height: 30px !important;
    position: absolute !important;
    content: url('other/m.png');
    z-index:5;
}

.mana2{
    left: 30%;
    border-radius: 0%;
    width: 30px !important;
    height: 30px !important;
    position: absolute !important;
    content: url('other/m.png');
    z-index:5;
}

.eventnum1{
    display: hidden;
}

.eventnum1 img{
    width: 50px !important;
    height: 50px !important;
}

.calender div li{
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
}

img{
    border: 1px solid rgb(65, 65, 65);
    border-radius:50%
}

.weekdays {
    margin: 0;
    padding: 10px;
    background-color: #D3D3D3;
    font-size: 30px;
}

.weekdays li{
    display: inline-block;
    width: 13.55%;
    color: rgb(43, 43, 43);
    text-align: center;
    font-size: 40px;
}

.month {
    margin: 0;
    padding: 10px 10px 60px 10px;
    background-image: url(other/bkgnew.png);
    background-size: 350px 350px;
    background-color: rgb(105, 177, 236);
    font-size: 50px;
    text-align: center;
}

.month ul li{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 90px;
    opacity: 100%;
}

.month ul{
    margin: 0;
    padding: 15px;
}

.change{
    position: relative;
    top: 100%;
    left: 50%;
    display: inline-block;
    text-align: right;
}

.cButton{
    font-size: 16px;
    color: white;
    background-color: #1d99af;
    padding: 20px;
    border: none;
}

.specific{
    position: relative;
    top: 100%;
    left: 28%;
    display: inline-block;
    text-align: right;
}

.sButton{
    font-size: 16px;
    color: white;
    background-color: #1bc0dd;
    padding: 20px;
    border: none;
    overflow: auto;
}

.buttonStuff{
    display: none;
    position: absolute;
    background-color: #e5e4e4;
    z-index: 1;
    top: 60px;
    right: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
}


.specificButton{
    display: none;
    background-color: antiquewhite;
    position: absolute;
    right: 10px;
    top: 60px;
    overflow-y: auto;
    height: 200px;
    transition: top 0.3s;
    z-index: 2;
    text-align: center;
}

.specificButton a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-size:30px 30px;
    background-repeat: no-repeat;
    background-position: right;
}

.buttonStuff a{
    color: black;
    padding: 24px 32px;
    text-decoration: none;
    display: block;
}

.buttonStuff a:hover {
    background-color: #ddd;
}

.change:hover .buttonStuff{
    display: block;
}

.change:hover .cButton{
    background-color: rgb(24, 137, 157);
}

.specific:hover .specificButton{
    display: block;
}

.specific:hover .sButton{
    background-color: #169eb6;
}

.specificButton a:hover{
    background-color: #ddd;
}

.lol{
    font-size: 40px !important;
}

.next{
    padding-top: 30px;
    float: right;
}

.prev{
    padding-top: 30px;
    float: left;
}

ul a{
    font-size: 90px;
    text-decoration: none;
}

ul a:link{
    color: white;
}

ul a:visited{
    color: white;
}

ul a:active{
    color: white;
}