:root {
    --maxWidth: 100vw;
    --maxHeight: 100vh;
    --b: rgb(233, 11, 11);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    display: table;
    margin: auto;
}


.header{
    position: sticky;
    vertical-align: middle;
    top: 0;
    background-color: var(--b);
    width: var(--maxWidth);
    height: 13vh;
    text-align: center;
    z-index: 10;
}

.headerText{
    position: absolute;
    font-size: 10cqb !important;
    top: 5%;
    left: 0%;
    padding-left: 1%;
}

.shiftButton{
    position: absolute;
    left: 70%;
    top: 28%;
}

.chooseMaidButton{
    position: absolute;
    left: 85%;
    top: 28%;
}

div{
    font-size: 50px;
}

.bannerImage{
    height: 30vh;
    width: 100vw;
    background-color: blue;
    background-size: 22%;
    background-image: url(other/bkgnew.png);
}

.daysWeek{
    position: sticky;
    top: 13vh;
    display:grid;
    text-align: center;
    grid-template-columns: repeat(7, 14.285%);
    box-sizing: border-box;
    z-index: 10;
    
}

.daysWeek div{
    padding-top: 3%;
    background-color: rgb(82, 87, 87);
    border-color: black;
}

.calendarBodyMain{

}

.eventOverlay{

}

.calendarBody{
    background-color: rgb(0, 0, 0);
    display:grid;
    text-align: left;
    grid-template-columns: repeat(7, 14.285%);
    grid-template-rows: repeat(5, 29vh);
    position: relative;
    
}

.calendarBody > div{
    position: relative;
    background-color: rgba(192,192,192,1);
    width: 100%;
    height: 29vh;
    font-size: 5cqb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: fit-content;
}

.calendarBody > div > div{
    padding-left: 1vw;
    padding-top: 2px;
}

.header div{
    font-size: 5cqb;
}


div > img{
    width: 50px;
    height: 50px;
    /*background-image: url(other/bkgnew.png);*/
}
img{
    border: 1px solid rgb(65, 65, 65);
    border-radius:50%;  
}