:root {
    --maxWidth: 100vw;
    --maxHeight: 100vh;
    --b: rgb(233, 11, 11);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    display: table;
    margin: auto;
}

body{
    width: var(--maxWidth);
}


.header{
    position: sticky;
    vertical-align: middle;
    top: 0;
    background-color: var(--b);
    width: var(--maxWidth);
    height: 13vh;
    text-align: center;
    z-index: 10;
}

.headerText{
    position: absolute;
    font-size: 5cqb !important;
    top:27%;
    left: 0%;
    padding-left: 1%;
}

.shiftButton{
    position: absolute;
    background-color: #01f8c6;
    padding: 2px;
    left: 85%;
    top: 38%;
}

.chooseMaidButton{
    position: absolute;
    left: 70%;
    top: 38%;
}

div{
    font-size: 4cqb;
}

.bannerImage{
    height: 20vh;
    width: 100vw;
    background-color: blue;
    background-size: 40%;
    background-image: url(other/bkgnew.png);
}

.daysWeekContainer{
    min-width: var(--maxWidth);
    white-space: nowrap;
}

.daysWeek{
    position: sticky;
    top: 13vh;
    display:grid;
    text-align: center;
    grid-template-columns: repeat(7, 120px);
    box-sizing: border-box;
    z-index: 10;
    width: var(--maxWidth);
    overflow-x: auto;
    white-space: nowrap;
    
}

.daysWeek div{
    padding-top: 3%;
    background-color: rgb(82, 87, 87);
    border-color: black;
}

.calendarBodyMain{
    width: 100vw;
    overflow-x: scroll;
    clear: none;
    position: sticky;
    top: 13vh;
    align-self:start;

}

.eventOverlay{
    
}

.daysWeek2{
    background-color: rgb(82, 87, 87) !important;
    text-align: center !important;
    position: sticky !important;

}

.calendarBody{
    background-color: rgb(0, 0, 0);
    display: grid;
    text-align: left;
    grid-template-columns: repeat(7, 120px);
    grid-template-rows: repeat(5, 200px);
}

.calendarBody > div{
    position: relative;
    background-color: rgba(192,192,192,1);
    width: 100%;
    height: 200px;
    font-size: 5cqb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: fit-content;
    border: 1px black solid;
}

.calendarBody > div > div{
    padding-top: 2px;
    position: relative;
    padding-left: 1vw;
}

.header div{
    font-size: 3cqb;
}


div > img{
    width: 45px;
    height: 45px;
    /*background-image: url(other/bkgnew.png);*/
}
img{
    border: 1px solid rgb(65, 65, 65);
    border-radius:50%;  
}

span{
    visibility: hidden;
    width:auto;
    background-color: rgba(184, 183, 183, 0.452);
    color: #030303;
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 4px 10px 4px 10px;
    margin: 0px;
    border:1px solid rgba(68, 68, 68, 0.452);
    border-radius: 50%;
    margin-left: -100px;
    margin-top: -10px;
    overflow: hidden;
}

.calendarBody div div:hover span{ 
    visibility: visible;
}

.buttonStuff a{
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    z-index:11;
}

.buttonStuff a:hover {
    background-color: #ddd;
}

.shiftButton:hover .buttonStuff{
    display: block;
}

.buttonStuff{
    display: none;
    position: absolute;
    background-color: #e5e4e4;
    z-index: 1;
    top: 50px;
    left: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
}

@media (min-width: 500px) {
    .bannerImage{
        min-width: 1000px;
        height: 40vh;
        width: 100vw;
        background-color: blue;
        background-size: 22%;
        background-image: url(other/bkgnew.png);
    }

    .calendarBody{
    min-width: 1000px;
    background-color: rgb(0, 0, 0);
    display:grid;
    text-align: left;
    grid-template-columns: repeat(7, 14.285%);
    grid-template-rows: 38vh 38vh 38vh 38vh 38vh;
    position: relative;
    
    }

    .calendarBody > div{
    position: relative;
    background-color: rgba(192,192,192,1);
    width: 100%;
    height: 38vh;
    font-size: 5cqb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: fit-content;

}

    .calendarBody > div > div{
        min-width: 150px;
        min-height: 150px;
    }

    .daysWeek{
    min-width: 1000px;
    position: sticky;
    top: 13vh;
    display:grid;
    text-align: center;
    grid-template-columns: repeat(7, 14.28%);
    box-sizing: border-box;
    z-index: 10;
    width: var(--maxWidth);
    overflow-x: auto;
    white-space: nowrap;
    
    }

    div > img{
    min-width: 150px;
    min-height: 150px;
    /*background-image: url(other/bkgnew.png);*/
    }

    .calendarBody > div > div{
    padding-left: 1px;
    padding-top: 2px;
    }

    
}